@import url('../fonts/stylesheet.css');


html, body
{
    min-height: 300%;
    width: 100%;
    font-family: "Open sans" , sans-serif;
    font-size: 22px;
    line-spacing: 44px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}


/*********fonts**********/
.fontmain
{
    font-family: 'etherealthin' , sans-serif;
}

.fontsub
{
    font-family: 'acuminlight' , sans-serif;
}


/***********background***********/
.bgfixed
{
    /*width: 100vw;     height: 100vh;*/
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*position: -webkit-sticky;  Safari      position: sticky;     top: 0;     z-index: 0;*/
    /* @Hope for iphone */
    /* @media only screen and (max-width: 575px) {         background-attachment: scroll;      } */

    @supports (-webkit-touch-callout: none)
    {
        background-attachment: scroll;
    }
}


/* @supports (-webkit-touch-callout: none) {
  CSS specific to iOS devices 
}

@supports not (-webkit-touch-callout: none) {
  CSS for other than iOS devices 
} */

.bgnomal
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}



.robwhitemask
{
    background-color: rgba(255, 255, 255, 0.82);
    color: rgb(8, 29, 84);
}

.robgraymask
{
    background-color: rgba(8, 29, 84, 0.28);
    color: rgb(255, 255, 255);
}

.robmain_pre
{
    position: relative;
}

.robmain_pre .main_pagetitle
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.robmain_pre .divrobfullname
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.divrobfullname-40
{
    position: absolute;
    bottom: -40;
    left: 0;
}

.divrobfullname-60
{
    position: absolute;
    bottom: -60;
    left: 0;
}


.robmain_pre .bespoke_line, .robmain_pre .subbespoke_line
{
    background-color: #FFFFFF;
}

/***********navbar***********/
/*nav
{
    transition: background-color 0.4s ease-out;
}
nav.scroll
{
    background-color: rgba(0, 0, 0,0.58);
}

.d-flex{display:-ms-flexbox!important;display:flex!important}*/

/* @Hope */
/* @media only screen and (device-width: 375px) and (device-orientation: portrait) {
    
    .robbgpre01
    {
        background-image: url('../img/Homepage_BG1_phone.jpg');
        background-color: aqua;
    }
    .robbgpre02
    {
        background-image: url('../img/HomepageBG2_2.jpg');
    }

  }
  

@media only screen and (device-width: 375px) and (device-orientation: landscape) {
    
} */

/* 375*710 */
/* @Hope */

/*@media (max-width: 375px)
{

    .robbgpre01
    {
        background-image: url('../img/Homepage_BG1_375.jpg');
        background-size: contain;
    }

    .robbgpre02
    {
        background-image: url('../img/Homepage_BG2_375.jpg');
        background-size: cover;
    }
}*/


/* ต้องมีอันนี้ไม่งั้น iphone 12 mini ดูไม่ได้ */
.headerbox
{
    z-index: 100;
    margin-top: 200px;
    padding-top: 200px;
}

/*@media (max-width: 375px)
{

    .headerbox
    {
        margin-top: 50px;
        padding-top: 50px;
    }

    .fontsub
    {
        font-size: 18px;
    }

    .robbgpre01
    {
        background-image: url('../img/Homepage_BG1_375.jpg');
        background-size: contain;
    }

    .robbgpre02
    {
        background-image: url('../img/Homepage_BG2_375.jpg');
        background-size: cover;
    }

    .hover_switch img
    {
        margin: 5px 7px;
        width: 32px;
        height: 32px;
    }

    .payment_serv img
    {
        width: 70%;
    }

    .btntop
    {
        height: 100px;
    }

    .btntop .topimg
    {
        left: 37%;
    }


}*

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px)
{

    .headerbox
    {
        margin-top: 60px;
        padding-top: 60px;
    }

    .letter_spacing
    {
        /* letter-spacing: .2em;         */
        letter-spacing: .1em;
    }

    .robnavbar .navbar-nav .nav-link
    {
        border: none !important;        
    }

    .robnavbar .navbar-nav .nav-item
    {
        margin: 0px !important;
        padding: 0px !important;
    }

    .robnavbar .navbar-nav .nav-link, .robnavbar .dropdown-item, .robnavbar .navbar-brand
    {
        font-size: 9px;
        letter-spacing: .2em;
    }
    
    .robnavbar .navbar-brand
    {
        font-family: 'etherealthin' , sans-serif;
        /*display: none;*/
    }
    
    .robnavbar .navbar-toggler
    {
        padding: .25rem;
        font-size: small;
        border: none;
    }



    /* Hope 2024-06-16 */
    /* .robbgpre01 {
            background-image: url('../img/Homepage_BG1_2.jpg');
        }

        .robbgpre02 {
            background-image: url('../img/Homepage_BG2_2.jpg');
        } */

    .robbgpre01
    {
        background-image: url('../img/Homepage_BG1_375.jpg');
        background-size: contain;
    }

    .robbgpre02
    {
        background-image: url('../img/Homepage_BG2_375.jpg');
        background-size: cover;
    }



    .robbgpre03
    {
        background-image: url('../img/rob_youtube/Homepage_BG3_2.jpg');
    }

    .robbgpreG01
    {
        background-image: url('../img/rob_gallery/BG_Gallery_Page_Maun_2.jpg');
    }

    .robbgpreA01
    {
        /* background-image: url('../img/rob_accessories/BG_Accessories_page_BG1.jpg');         */
        background-image: url('../img/Homepage_Acc_BG1_375.jpg');
    }

    .robbgpreA02
    { 
        background-image: url('../img/rob_accessories/BG_Accessories_page_BG2.jpg');        
    }

    .robbgpreTS01
    {
        background-image: url('../img/rob_trunk_show/Trunk_Show_BG_1_2.jpg');
    }

    .robbgpreTS02
    {
        background-image: url('../img/rob_trunk_show/Trunk_Show_BG_2_2.jpg');
    }

    .robwhitemask .title, .robgraymask .title
    {
        font-size: 16px;
        line-height: 16px;
    }

    .robwhitemask .submenu, .robgraymask .submenu
    {
        margin: 30px 0px;
        font-size: 18px;
    }

    .robwhitemask .message, .robgraymask .message
    {
        font-size: 12px;
        margin-top: 30px;
    }

    .accessories_if img
    {
        width: 82px;
        height: auto;
    }

    .gallery_if img
    {
        width: 86px;
        height: auto;
    }

    .robmain_pre .fullname
    {
        font-size: 18px;
    }

    .robmain_pre .bespoke
    {
        font-size: 14px;
        line-height: 14px;
        padding-top: 9px;
    }

    .robmain_pre .bespoke_line
    {
        width: 18px;
        height: 2px;
        margin-top: 5px;
    }

    .robmain_pre .since
    {
        font-size: 10px;
        padding-top: 2px;
        padding-bottom: 50px;
    }

    .robmain_pre .tailoring
    {
        font-size: 12px;
        margin-bottom: 50px;
    }
    
    /****main sub page****/
    .robmain_pre .pagetitle
    {
        font-size: 20px;
    }
    
    .robmain_pre .ult_pagetitle
    {
        font-size: 16px;
    }

    .robmain_pre .ult_pagedetail
    {
        font-size: 11px;
        margin-top: 18px;
    }

    .robmain_pre .robfullname
    {
        font-size: 16px;
    }

    .robmain_pre .subbespoke
    {
        font-size: 12px;
        line-height: 12px;
        padding-top: 9px;
    }

    .robmain_pre .subbespoke_line
    {
        width: 14px;
        height: 2px;
        margin-top: 5px;
    }

    .robmain_pre .subsince
    {
        font-size: 8px;
        padding-top: 2px;
        padding-bottom: 30px;
    }

    nav#dot-nav
    {
        right: 10px;
    }

    nav#dot-nav a
    {
        width: 3px;
        height: 30px;
        margin: 7px;
    }

    .hover_switch img
    {
        margin: 5px 3px;
        width: 28px;
        height: 28px;
    }

    .payment_serv img
    {
        margin: 5px 3px;
        width: 46px;
        height: auto;
    }

    .btntop
    {
        height: 100px;
    }

    .btntop .topimg
    {
        left: 35%;
    }

    .btncookies
    {
        height: 35px;
    }

    .btncookies .topimg
    {
        left: 41%;
        top: -43px;
    }

    .btncookies img
    {
        width: 80px;
        height: 80px;
    }

    .robfooter
    {
        min-height: 400px;
    }

    .robfooter .title
    {
        font-size: 14px;
    }

    .robfooter .message
    {
        font-size: 9px;
        padding-top: 10px;
    }

    .robfooter .robltd
    {
        padding-top: 47px;
    }

    .eff_slideup_imgsize
    {
        width: 100%;
    }

    .eff_slideup_australia
    {
    }

    .eff_slideup_hide
    {
        display: none !important;
    }
}

/* Extra large devices (large desktops, 576px and up) */
@media (min-width: 576px)
{

    .robbgpre01
    {
        background-image: url('../img/Homepage_BG1.jpg');
    }

    .robbgpre02
    {
        background-image: url('../img/Homepage_BG2.jpg');
    }

    .robbgpre03
    {
        background-image: url('../img/rob_youtube/Homepage_BG3.jpg');
    }

    .robbgpreG01
    {
        background-image: url('../img/rob_gallery/BG_Gallery_Page_Maun.jpg');
    }

    .robbgpreA01
    {
        background-image: url('../img/rob_accessories/BG_Accessories_page_BG1.jpg');
    }

    .robbgpreA02
    {
        background-image: url('../img/rob_accessories/BG_Accessories_page_BG2.jpg');
    }

    .robbgpreTS01
    {
        background-image: url('../img/rob_trunk_show/Trunk_Show_BG_1.jpg');
    }

    .robbgpreTS02
    {
        background-image: url('../img/rob_trunk_show/Trunk_Show_BG_2.jpg');
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
{
    .letter_spacing
    {
        /* letter-spacing: .2em;         */
        letter-spacing: .1em;
    }

    .robnavbar .navbar-nav .nav-link
    {
        border: none !important;
    }

    .robnavbar .navbar-nav .nav-link,.robnavbar .dropdown-item,.robnavbar .navbar-brand
    {
        font-size: 15px;
        letter-spacing: .2em;
    }
    .robnavbar .navbar-brand
    {
        font-family: 'etherealthin' , sans-serif;
        /*display: none;*/
    }
    
    .robnavbar .navbar-toggler
    {
        padding: .25rem .55rem;
        font-size: .85rem;
    }

    .robwhitemask .title, .robgraymask .title
    {
        font-size: 32px;
        line-height: 32px;
    }

    .robwhitemask .submenu, .robgraymask .submenu
    {
        margin: 50px 0px;
        font-size: 20px;
    }

    .robwhitemask .message, .robgraymask .message
    {
        font-size: 16px;
        margin-top: 60px;
    }

    .accessories_if img
    {
        width: 108px;
        height: auto;
    }

    .gallery_if img
    {
        width: 113px;
        height: auto;
    }

    .robmain_pre .fullname
    {
        font-size: 38px;
    }

    .robmain_pre .bespoke
    {
        font-size: 28px;
        line-height: 28px;
        padding-top: 12px;
    }

    .robmain_pre .bespoke_line
    {
        width: 24px;
        height: 2px;
        margin-top: 9px;
    }

    .robmain_pre .since
    {
        font-size: 14px;
        padding-top: 2px;
    }

    .robmain_pre .tailoring
    {
        font-size: 18px;
        margin-bottom: 100px;
    }
    
    /****main sub page****/
    .robmain_pre .pagetitle
    {
        font-size: 36px;
    }
    
    .robmain_pre .ult_pagetitle
    {
        font-size: 32px;
    }

    .robmain_pre .ult_pagedetail
    {
        padding: 0px 50px;
        font-size: 16px;
        margin-top: 20px;
    }

    .robmain_pre .robfullname
    {
        font-size: 24px;
    }

    .robmain_pre .subbespoke
    {
        font-size: 18px;
        line-height: 18px;
        padding-top: 9px;
    }

    .robmain_pre .subbespoke_line
    {
        width: 20px;
        height: 2px;
        margin-top: 5px;
    }

    .robmain_pre .subsince
    {
        font-size: 10px;
        padding-top: 2px;
        padding-bottom: 40px;
    }

    nav#dot-nav
    {
        right: 10px;
    }

    nav#dot-nav a
    {
        width: 5px;
        height: 35px;
        margin: 10px;
    }

    .hover_switch img
    {
        margin: 5px 10px;
        width: 38px;
        height: 38px;
    }

    .payment_serv img
    {
        margin: 5px 10px;
        width: 87px;
        height: auto;
    }

    .btntop
    {
        height: 100px;
    }

    .btntop .topimg
    {
        left: 43%;
    }

    .btncookies
    {
        height: 35px;
    }

    .btncookies .topimg
    {
        left: 44%;
        top: -43px;
    }

    .btncookies img
    {
        width: 80px;
        height: 80px;
    }

    .robfooter
    {
        min-height: 450px;
    }

    .robfooter .title
    {
        font-size: 22px;
    }

    .robfooter .message
    {
        font-size: 14px;
        padding-top: 10px;
    }

    .robfooter .robltd
    {
        padding-top: 47px;
    }

    .eff_slideup_imgsize
    {
        width: 100%;
    }

    .eff_slideup_australia
    {
        width: 350px;
    }

    .eff_slideup_hide
    {
        display: none !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px)
{
    .letter_spacing
    {
        /* letter-spacing: .2em;         */
        letter-spacing: .1em;
    }

    .robnavbar .navbar-nav .nav-link
    {
        border: none !important;
    }

    .robnavbar .navbar-nav .nav-link,.robnavbar .dropdown-item,.robnavbar .navbar-brand
    {
        font-size: 15px;
        letter-spacing: .2em;
    }
    .robnavbar .navbar-brand
    {
        font-family: 'etherealthin' , sans-serif;
        /*display: none;*/
    }
    
    .robnavbar .navbar-toggler
    {
        padding: .25rem .55rem;
        font-size: .85rem;
    }

    .robwhitemask .title, .robgraymask .title
    {
        font-size: 34px;
        line-height: 34px;
    }

    .robwhitemask .submenu, .robgraymask .submenu
    {
        margin: 70px 0px;
        font-size: 22px;
    }

    .robwhitemask .message, .robgraymask .message
    {
        font-size: 20px;
        margin-top: 70px;
    }

    .accessories_if img
    {
        width: 138px;
        height: auto;
    }

    .gallery_if img
    {
        width: 145px;
        height: auto;
    }

    .robmain_pre .fullname
    {
        font-size: 44px;
    }

    .robmain_pre .bespoke
    {
        font-size: 32px;
        line-height: 32px;
        padding-top: 10px;
    }

    .robmain_pre .bespoke_line
    {
        width: 28px;
        height: 3px;
        margin-top: 12px;
    }

    .robmain_pre .since
    {
        font-size: 16px;
        padding-top: 2px;
    }

    .robmain_pre .tailoring
    {
        font-size: 26px;
        margin-bottom: 100px;
    }
    
    /****main sub page****/
    .robmain_pre .pagetitle
    {
        font-size: 44px;
    }
    
    .robmain_pre .ult_pagetitle
    {
        font-size: 38px;
    }

    .robmain_pre .ult_pagedetail
    {
        padding: 0px 60px;
        font-size: 18px;
        margin-top: 25px;
    }

    .robmain_pre .robfullname
    {
        font-size: 28px;
    }

    .robmain_pre .subbespoke
    {
        font-size: 20px;
        line-height: 20px;
        padding-top: 9px;
    }

    .robmain_pre .subbespoke_line
    {
        width: 22px;
        height: 2px;
        margin-top: 5px;
    }

    .robmain_pre .subsince
    {
        font-size: 12px;
        padding-top: 2px;
        padding-bottom: 50px;
    }
    
    nav#dot-nav
    {
        right: 20px;
    }

    nav#dot-nav a
    {
        width: 7px;
        height: 40px;
        margin: 10px;
    }

    .hover_switch img
    {
        margin: 5px 10px;
        width: 48px;
        height: 48px;
    }

    .payment_serv img
    {
        margin: 5px 10px;
        width: 97px;
        height: auto;
    }

    .btntop
    {
        height: 130px;
    }

    .btntop .topimg
    {
        left: 43%;
    }

    .btncookies
    {
        height: 35px;
    }

    .btncookies .topimg
    {
        left: 44%;
        top: -43px;
    }

    .btncookies img
    {
        width: 80px;
        height: 80px;
    }

    .robfooter
    {
        min-height: 550px;
    }

    .robfooter .title
    {
        font-size: 27px;
    }

    .robfooter .message
    {
        font-size: 16px;
        padding-top: 10px;
    }

    .robfooter .robltd
    {
        padding-top: 77px;
    }

    .eff_slideup_imgsize
    {
        width: 100%;
    }

    .eff_slideup_australia
    {
        width: 350px;
    }

    .eff_slideup_hide
    {
        display: none !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px)
{
    .letter_spacing
    {
        /* letter-spacing: .2em;         */
        letter-spacing: .1em;
    }

    .robnavbar .navbar-nav .nav-link
    {
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: rgb(255, 255, 255);
    }

    .robnavbar .navbar-nav .nav-link, .robnavbar .dropdown-item, .robnavbar .navbar-brand
    {
        font-size: 12.5px;
        font-weight: 600;
        white-space: nowrap;
        letter-spacing: .02em;
        /*letter-spacing: .2em;*/
    }
    
    .robnavbar .navbar-brand
    {
        display: none;
    }

    .robwhitemask .title, .robgraymask .title
    {
        font-size: 38px;
        line-height: 38px;
    }

    .robwhitemask .submenu, .robgraymask .submenu
    {
        margin: 70px 0px;
        font-size: 24px;
    }

    .robwhitemask .message, .robgraymask .message
    {
        font-size: 22px;
        margin-top: 70px;
    }

    .accessories_if img
    {
        width: 166px;
        height: auto;
    }

    .gallery_if img
    {
        width: 174px;
        height: auto;
    }

    .robmain_pre .fullname
    {
        font-size: 52px;
    }

    .robmain_pre .bespoke
    {
        font-size: 32px;
        line-height: 32px;
        padding-top: 15px;
    }

    .robmain_pre .bespoke_line
    {
        width: 25px;
        height: 3px;
        margin-top: 13px;
    }

    .robmain_pre .since
    {
        font-size: 18px;
        padding-top: 2px;
    }

    .robmain_pre .tailoring
    {
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    /****main sub page****/
    .robmain_pre .pagetitle
    {
        font-size: 56px;
    }
    
    .robmain_pre .ult_pagetitle
    {
        font-size: 48px;
    }

    .robmain_pre .ult_pagedetail
    {
        padding: 0px 50px;
        font-size: 20px;
        margin-top: 28px;
    }

    .robmain_pre .robfullname
    {
        font-size: 34px;
    }

    .robmain_pre .subbespoke
    {
        font-size: 24px;
        line-height: 24px;
        padding-top: 16px;
    }

    .robmain_pre .subbespoke_line
    {
        width: 26px;
        height: 2px;
        margin-top: 7px;
    }

    .robmain_pre .subsince
    {
        font-size: 14px;
        padding-top: 4px;
        padding-bottom: 60px;
    }

    nav#dot-nav
    {
        right: 20px;
    }

    nav#dot-nav a
    {
        width: 7px;
        height: 40px;
        margin: 10px;
    }

    .hover_switch img
    {
        margin: 5px 10px;
        width: 52px;
        height: 52px;
    }

    .payment_serv img
    {
        margin: 5px 10px;
        width: 101px;
        height: auto;
    }

    .btntop
    {
        height: 130px;
    }

    .btntop .topimg
    {
        left: 46%;
    }

    .btncookies
    {
        height: 35px;
    }

    .btncookies .topimg
    {
        left: 44%;
        top: -43px;
    }

    .btncookies img
    {
        width: 80px;
        height: 80px;
    }

    .robfooter
    {
        min-height: 550px;
    }

    .robfooter .title
    {
        font-size: 27px;
    }

    .robfooter .message
    {
        font-size: 16px;
        padding-top: 10px;
    }

    .robfooter .robltd
    {
        padding-top: 77px;
    }

    .eff_slideup_imgsize
    {
        width: 100%;
    }

    .eff_slideup_australia
    {
        width: 350px;
    }

    .eff_slideup_hide
    {
        display: none !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .letter_spacing
    {
        /* letter-spacing: .2em;         */
        letter-spacing: .1em;
    }

    .robnavbar .navbar-nav .nav-link
    {
        /* font-size: 12px; */
        border-style: solid;
        border-width: 0px 1px 0px 0px;
        border-color: rgb(255, 255, 255);
        white-space: nowrap;
        font-weight: 600;
        /* hopeadd */
    }
    
    .robnavbar .navbar-brand
    {
        display: none;
    }

    .robwhitemask .title, .robgraymask .title
    {
        font-size: 48px;
        line-height: 48px;
    }

    .robwhitemask .submenu, .robgraymask .submenu
    {
        margin: 50px 0px;
        font-size: 26px;
    }

    .robwhitemask .message, .robgraymask .message
    {
        font-size: 26px;
        margin-top: 50px;
    }

    .accessories_if img
    {
        width: 234px;
        height: auto;
    }

    .gallery_if img
    {
        width: 245px;
        height: auto;
    }

    .robmain_pre .fullname
    {
        font-size: 64px;
    }

    .robmain_pre .bespoke
    {
        font-size: 44px;
        line-height: 44px;
        padding-top: 20px;
    }

    .robmain_pre .bespoke_line
    {
        width: 30px;
        height: 3px;
        margin-top: 15px;
    }

    .robmain_pre .since
    {
        font-size: 18px;
        padding-top: 5px;
    }

    .robmain_pre .tailoring
    {
        font-size: 24px;
        margin-bottom: 0px;
    }
    
    /****main sub page****/
    .robmain_pre .pagetitle
    {
        font-size: 64px;
    }
    
    .robmain_pre .ult_pagetitle
    {
        font-size: 64px;
        line-height: 84px;
    }

    .robmain_pre .ult_pagedetail
    {
        padding: 0px 80px;
        font-size: 22px;
        margin-top: 30px;
    }

    .robmain_pre .robfullname
    {
        font-size: 34px;
    }

    .robmain_pre .subbespoke
    {
        font-size: 24px;
        line-height: 24px;
        padding-top: 20px;
    }

    .robmain_pre .subbespoke_line
    {
        width: 28px;
        height: 3px;
        margin-top: 8px;
    }

    .robmain_pre .subsince
    {
        font-size: 14px;
        padding-top: 4px;
        padding-bottom: 60px;
    }

    nav#dot-nav
    {
        right: 30px;
    }

    nav#dot-nav a
    {
        width: 7px;
        height: 40px;
        margin: 10px;
    }

    .hover_switch img
    {
        margin: 5px 10px;
        width: 60px;
        height: 60px;
    }

    .payment_serv img
    {
        margin: 5px 10px;
        width: 109px;
        height: auto;
    }

    .btntop
    {
        height: 10px;
    }

    .btntop .topimg
    {
        left: 47%;
    }

    .btncookies
    {
        height: 35px;
    }

    .btncookies .topimg
    {
        left: 46%;
        top: -43px;
    }

    .btncookies img
    {
        width: 80px;
        height: 80px;
    }

    .robfooter
    {
        min-height: 90vh;
    }

    .robfooter .title
    {
        font-size: 27px;
    }

    .robfooter .message
    {
        font-size: 16px;
        padding-top: 10px;
    }

    .robfooter .robltd
    {
        padding-top: 77px;
    }

    .eff_slideup_imgsize
    {
    }

    .eff_slideup_australia
    {
        width: 350px;
    }

    .eff_slideup_hide
    {
    }
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px)
{
    .robnavbar .navbar-nav .nav-link,.robnavbar .dropdown-item,.robnavbar .navbar-brand
    {
        font-size: 16px;
        letter-spacing: .1em;
        font-weight: 600;
    }
}

/* Large devices (desktops, 1400px and up) */
@media (min-width: 1400px) and (max-width: 1599.98px)
{
    .robnavbar .navbar-nav .nav-link,.robnavbar .dropdown-item,.robnavbar .navbar-brand
    {
        font-size: 16px;
        letter-spacing: .1em;
        font-weight: 600;
    }
}

/* Large devices (desktops, 1600px and up) */
@media (min-width: 1600px) and (max-width: 1899.98px)
{
    .robnavbar .navbar-nav .nav-link,.robnavbar .dropdown-item,.robnavbar .navbar-brand
    {
        font-size: 16px;
        letter-spacing: .1em;
        font-weight: 600;
    }
}

/* Large devices (desktops, 1900px and up) */
@media (min-width: 1900px)
{
    .robnavbar .navbar-nav .nav-link,.robnavbar .dropdown-item,.robnavbar .navbar-brand
    {
        font-size: 16px;
        letter-spacing: .1em;
        font-weight: 600;
    }
}

.robnavbar .navbar-brand
{
    color: #fff;
}

.robnavbar .navbar-brand:focus, .robnavbar .navbar-brand:hover
{
    color: #fff;
}

.robnavbar .navbar-nav .nav-link
{
    padding: 3px 30px !important;
    color: rgb(255, 255, 255); /*font-weight: 500;     line-height: 24px;     text-align: center;*/
    transition: all 0.3s;
}

.robnavbar .navbar-nav .nav-link:focus, .robnavbar .navbar-nav .nav-link:hover
{
    color: rgba(255, 255, 255, .75);
}

.robnavbar .navbar-nav .nav-link.disabled
{
    color: rgba(255, 255, 255, .25);
}

.robnavbar .navbar-nav .active > .nav-link, .robnavbar.navbar-nav .nav-link.active, .robnavbar .navbar-nav .nav-link.show, .robnavbar .navbar-nav .show > .nav-link
{
    color: #fff;
}

.robnavbar .navbar-toggler
{
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
}

.robnavbar .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.robnavbar .navbar-text
{
    color: rgba(255, 255, 255, .5);
}

.robnavbar .navbar-text a
{
    color: #fff;
}

.robnavbar .navbar-text a:focus, .robnavbar .navbar-text a:hover
{
    color: #fff;
}

/*link no border*/
.robnavbar .navbar-nav .nav-link.noborder
{
    border: none !important;
}

/*navbar dropdown menu*/
.robnavbar .dropdown-menu
{
    /*background: rgba(0, 49, 172, 0.7);     box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);*/
    text-align: center;
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.robnavbar .dropdown-menu a
{
    color: rgb(8, 29, 84);
    background: none; /*background-color: #B8E4F0;     border-bottom-width: 1px;     border-bottom-style: solid;     border-bottom-color: #99DCEA;*/
}

.robnavbar .dropdown-menu a:hover
{
    /*background-color: #81CEE4;*/
    color: rgba(8, 29, 84, .8) !important;
}

/*.dropdown-menu a
{
    font-size: 16px;
    white-space: normal;
}*/
.dropdown .dropdown-menu
{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu
{
    max-height: 600px;
    opacity: 1;
}

/*background navbar*/
.robbgnavbar
{
    background-color: transparent !important;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.robbgnavbar.bg-lime
{
    background-color: rgba(14, 16, 15, 0.38) !important;
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/***********nav dot**********/
nav#dot-nav
{
    position: fixed;
}

nav#dot-nav a
{
    /*border: 1px solid #121212;     border-radius: 50%;     width: 16px;     height: 16px;*/
    background-color: rgb(255, 255, 255);
    display: block;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

nav#dot-nav a.active
{
    /*background: #121212;*/
    background-color: rgba(14, 16, 15, 0.38);
}

.hover_switch
{
    position: relative; /*display: inline-block;*/
}

.hover_switch .img_top
{
    opacity: 1;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.hover_switch:hover .img_top
{
    opacity: 0;
}

/*******/
.imghover_switch
{
    position: relative; /*display: inline-block;*/
}

.imghover_switch .img_top
{
    opacity: 1;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.imghover_switch:hover .img_top
{
    opacity: 0;
}

.imghover_switch img
{
    width: 100%;
    height: auto;
}

/********rob youtube*********/
.rob_corner
{
    outline: none !important;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border: none;
}

.rob_bgyoutube01
{
    background-image: url('../img/rob_youtube/rob_youtube_1.png');
}

.rob_bgyoutube02
{
    background-image: url('../img/rob_youtube/rob_youtube_2.png');
}

.rob_bgyoutube03
{
    background-image: url('../img/rob_youtube/rob_youtube_3.png');
}

.rob_bgyoutube04
{
    background-image: url('../img/rob_youtube/rob_youtube_4.png');
}

.navimg-pills
{
    min-height: 304px;
}

.navimg-pills .nav-link
{
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    margin: 3px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px auto;
}

.navimg-pills .nav-link.active, .navimg-pills .show > .nav-link
{
    background-repeat: no-repeat;
    background-size: 32px auto;
}

.linebutton.nav-link
{
    background-image: url('../img/Icon/Line_Normal-01.jpg');
}

.linebutton.nav-link.active, .linebutton .show > .nav-link
{
    background-image: url('../img/Icon/Line_Active-01.jpg');
}

.facebookbutton.nav-link
{
    background-image: url('../img/Icon/Facebook_Normal-01.jpg');
}

.facebookbutton.nav-link.active, .facebookbutton .show > .nav-link
{
    background-image: url('../img/Icon/Facebook_Active-01.jpg');
}

.emailbutton.nav-link
{
    background-image: url('../img/Icon/Email_Normal-01.png');
}

.emailbutton.nav-link.active, .emailbutton .show > .nav-link
{
    background-image: url('../img/Icon/Email_Active-01.png');
}

.IGbutton.nav-link
{
    background-image: url('../img/Icon/IG_Normal-01.jpg');
}

.IGbutton.nav-link.active, .IGbutton .show > .nav-link
{
    background-image: url('../img/Icon/IG_Active-01.jpg');
}

.weechatbutton.nav-link
{
    background-image: url('../img/Icon/Weechat_Normal-01.jpg');
}

.weechatbutton.nav-link.active, .weechatbutton .show > .nav-link
{
    background-image: url('../img/Icon/Weechat_Active-01.jpg');
}

.whatsappbutton.nav-link
{
    background-image: url('../img/Icon/Whatsapp_Normal-01.jpg');
}

.whatsappbutton.nav-link.active, .whatsappbutton .show > .nav-link
{
    background-image: url('../img/Icon/Whatsapp_Active-01.jpg');
}

.phonebutton.nav-link
{
    background-image: url('../img/Icon/Phone_Icon_Normal-01.png');
}

.phonebutton.nav-link.active, .phonebutton .show > .nav-link
{
    background-image: url('../img/Icon/Phone_Icon_Active-01.png');
}


.robhight
{
    min-height: 100vh;
}

.btntop, .btncookies
{
    position: relative;
}

.btntop .topimg, .btncookies .topimg
{
    position: absolute;
}

.robfooter
{
    color: rgb(8, 29, 84);
    background-color: rgb(255, 255, 255);
}

.btntop .topimg
{
    top: -53px;
}

.btntop img
{
    width: 106px;
    height: 106px;
}

/*---------link button---------*/
.alink
{
    color: rgb(8, 29, 84);
    text-decoration: none;
}

.alink:hover
{
    color: rgba(8, 29, 84, .8);
    text-decoration: none;
}

/*------image news content-------*/
.eff_slideup
{
    position: relative;
    width: 100%;
}

.eff_slideup_imgoverlay
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: .5s ease;
}

.eff_slideup:hover .eff_slideup_imgoverlay
{
    height: 100%;
}

.eff_slideup_txtoverlay
{
    color: rgb(8, 29, 84);
    font-size: 47px;
    text-align: center;
    position: relative;
    height: 100%;
}

.eff_slideup_txtoverlay a
{
    color: rgb(8, 29, 84);
    text-decoration: none;
}

.eff_slideup_txtoverlay a:hover
{
    color: rgba(8, 29, 84, .8);
    text-decoration: none;
}

.eff_slideup_txtoverlay p
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*----------background popup-----------*/
.robpopup
{
    /*padding: 20px 30px;*/
    color: rgb(8, 29, 84);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

.noneborder
{
    border: none;
    margin-right: 20px;
}

/*.modal-header
{
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.modal-header
{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-header .close
{
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}
.modal-title
{
    margin-bottom: 0;
    line-height: 1.5;
}
.modal-body
{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}*/